.permission-editor {
  h3, h4 {
    font-weight: 400;
  }
}

.search-box {
  text-align: center;
  padding: 30px 30px 0px 30px;

  .search-outline {
      @include below-desktop {
          width: 100%;
      }

      @include desktop-up {
          width: 60%;
          margin: auto;
      }

      border: 1px solid rgba(0,0,0,0.2);
      //border-radius: 20px;

      &:hover {
          border: 1px solid rgba(0,0,0,0.4);
      }
  }

  .search-input-wrapper {
      

      display: flex;
      text-align: left;
      padding: 10px 14px;

      .nav-icon {
          padding-top: 12px;
          margin-right: 10px;
          color: rgba(0,0,0,0.4);
      }
  }

  input {
      //width: 100%;
      font-size: 1.2em;
      flex-grow: 1;
      padding: 12px 6px;
      border: 1px solid rgba(0,0,0,0.2);
      //border: 1px solid rgba(53, 75, 172, 0.4);
      //border-radius: 50px;
  }
}

#focused {
  background-color: rgba(0,0,0,0.05);
  //font-weight: 600;
}

#search-results {
  max-height: 70vh;
  overflow-y: auto;
}

.details-table {
  border-collapse: collapse;

  th, td {
      text-align: center;
      border: 1px solid rgba(0,0,0,0.15);
      padding: 3px;
  }
}

.camper-details {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  padding: 15px;
  color: rgba(0,0,0,0.7);
  cursor: pointer;
  user-select: none;

  &:hover {
      background-color: rgba(0,0,0,0.02);
  }

  display: flex;
  flex-direction: row;
  align-items: center;

  .cabin-number {
      background-color: rgba(100,181,246 ,0.3);
      border: 1px solid rgba(25,118,210 ,1);
      border-radius: 50%;
      padding: 8px 12px;
  }

  .person {
      min-width: 60%;
      max-width: 70%;
      text-align: center;
  }

  .name {
      font-size: 1.1em;
      margin: 0px 5px 0px 15px;
  }

  .age {
      font-size: 0.8em;
      color: rgba(0,0,0,0.5);
  }

  .balance {
      display: flex;
      flex-direction: column;
  }

  .current-balance {
      font-size: 1.2em;
      margin: 0px 15px;
  }

  .positive-balance {
      color: rgba(27,94,32 ,1);
  }

  .negative-balance {
      color: rgba(198,40,40 ,1);
  }

  .negative-balance::before {
      content: '-';
  }
  /*.negative-balance::after {
      content: ')';
  }*/

  .initial-balance {
      font-size: 0.8em;
      color: rgba(0,0,0,0.5);
      margin: auto;
  }
}

.import-sample {
  border-collapse: collapse;
  margin-top: 40px;
  margin-bottom: 50px;

  th {
    font-weight: 500;
  }

  th, td {
    text-align: center;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 3px 7px;
  }
}

.inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#save-instructions {
  margin-top: 50px;

  h3 {
    font-weight: 400;
  }
}

#out-table {

  table {
    margin: 50px auto;
    border-collapse: collapse;

    tr:nth-child(1) > td {
      font-weight: 500;
    }
  
    th, td {
      text-align: center;
      border: 1px solid rgba(0,0,0,0.15);
      padding: 3px 7px;
    }
  }
}

.edit-accounts-table {
  margin-bottom: 50px;

  th {
    font-weight: 500;
  }

  th, td {
    padding: 10px 20px;
    text-align: left;
  }

  input[type=text] {
    width: 100px;
    padding: 5px;
  }

  @include hide-number-input-arrows();
  input[type=number] {
    width: 50px;
    padding: 5px;
  }
}

.centered-el {
  text-align: center;
}

.transaction {
  h2, h3, h4 {
    font-weight: 400;
  }

  @include hide-number-input-arrows();
  input[type=number], input[type=text] {
    padding: 10px;
    font-size: 1.1em;
  }

  select {
    font-size: 1.1em;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.4);
  }

  table {
    border-collapse: collapse;
    th {
      font-weight: 500;
      border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    th, td {
      text-align: left;
      padding: 10px 20px;
    }

    td:nth-child(1) {
      font-weight: 400;
      font-size: 1.5em;
    }

    margin-bottom: 50px;
  }
}

.no-account-data {
  margin-top: 100px;

  .btn {
    margin-top: 60px;
  }
}